.form{
    border-bottom :1px solid lightgrey;
    display:flex;
    width:100%;
    padding:15px;
    flex-direction:row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-group{
    width:50%;
}
.form-group label{
    font-size:18px
}
.form-group input, .form-group select{
    width:95%;
}
.form .btn-submit{
    border: none;
    background-color: #15478100;
    max-width:150px;
    padding:10px;
    outline:none;
    color:white;
    width:80%;
    margin:10px auto 0;
    opacity: 50%;
}
.form .btn-submit:hover{
    opacity: 100%;
}
.tracklist{
    width:100%;
    margin:20px auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
video#bgvid{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -1;
	background-size: cover;
}
